body{
    width: 100%;
    min-height: 100vh;
}
/* Header Section */
header{
    width: 100%;
    height: 70px;
    position: absolute;
    top: 0;
}
nav ul{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}
nav ul li{
    list-style: none;
    height: 70px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0px 30px;
}
nav ul li a:hover{
    color:rgba(252, 4, 4, 0.767);
    font-weight: bold;
    background-color: grey;
    backdrop-filter: blur(10px);
    
}
nav ul li .fa-solid{
    text-decoration: none;
    color: #fff;
    height: 100%;
    display: none;
    align-items: center;
    padding: 0px 30px;
}
nav  ul :first-child{
    margin-right:auto;
}
            /* Responsive Navbar */
nav .Mobile{
    top: 0;
    right: 0;
    position: fixed;
    max-width: 600px;
    height: 100vh;
    z-index: 999;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #ffffff7a;
    backdrop-filter: blur(10%);
    border: solid white 0.1px;
    border-radius: 20px;
}
nav .Mobile .xmark{
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin-right: auto;
}
            /* Media Responsive */

@media(max-width:700px) {
    nav ul li .fa-solid {
        display: flex;
    }    

    nav ul .hidenav
{
    display: none;
}    
}
@media(max-width:400px){
    .Mobile{
        width: 100%;
    }
}